In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.6)

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'url for the website'
response = requests.get(url)

In [ ]:
html = response.text
soup = BeautifulSoup(html, 'html.parser')
temp = soup.find_all("table")[0]

In [ ]:
df = pd.DataFrame(index = range(1, 50+1), columns = [
    "순", "이름", "팀", "WAR", "oWAR",'dWAR', '경기수', "타석", '유효 타석', "타수", "득점", "안타", "2루타", "3루타",
    "홈런", "루타", "타점", "도루성공", "도루실패", "볼넷", "사구", "고의사구", "삼진", "병살", "희생번트", "희생플라이", "타율", "출루율", "장타율",
                                                 "OPS", 'R/ePA', "wRC+", "WAR2"])

In [ ]:
# perform the code below for 10 times (for each club) and merged them.
l = 0
temp2 = temp.find_all("tr")[3]
for j in range(60):
    temp2 = temp.find_all("tr")[j]
    if len(temp2.find_all("td")) == 33:
        for i in range(33):
            temp3 = temp2.find_all("td")[i]
            df.iloc[l,i] = temp3.get_text()
        l += 1

In [ ]:
df.to_csv("batters stats.csv", index = False)